*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
section{
    background-image:url('vicky.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}