*{
    padding:;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: -moz-linear-gradient(90deg, blue black );
    justify-content: center;
    align-items: center;
    display:flex;
    height:100vh;
}
.color{
   max-width:1000px ; 
   width:100%;
   background-color: #20d;
   height:400px;
   padding: 16px 25px;
}
.personal_details{
    display:flex;
    flex-wrap: wrap;
    flex-grow:1 ;
}
.fullname{
    font-size: 18px;
    color:white;
}
.fields{
    margin:20px;
}
input{
    height:30px;
    border-radius: 6px;
    outline:none;
    padding:18px 28px;
    font-size: 14px;
    margin-top: 12px;
    transition: all 0.3s ease;
    width:100%;
    max-width:500px ;
    border: 1px solid black;
    border-bottom-width: 2px;
}
input:focus,
input:valid{
    border-color: purple;
}
.gender_title{
    font-size: 20px;
    font-weight: 700;
}
.one{
    width:80%;
    background: red;
}
label{
    justify-content: space-between;
}
input +[radio]{
    color:pink;
}